name: Publish on Dockerhub

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  openssl-cve-2014-0160:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: ./mayhemit.sh --build openssl-cve-2014-0160

    - name: Log into the registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push the docker image
      run: ./.github/push.sh forallsecure/openssl-cve-2014-0160

  cereal-cve-2020-11104-11105:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: ./mayhemit.sh --build cereal-cve-2020-11104-11105

    - name: Log into the registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push the docker image
      run: ./.github/push.sh forallsecure/cereal-cve-2020-11104-11105

    h2o-cve-2018-0608:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: ./mayhemit.sh --build h2o-cve-2018-0608

      - name: Log into the registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push the docker image
        run: ./.github/push.sh forallsecure/h2o-cve-2018-0608
